<button mat-flat-button color="primary" (click)="openPopup('create')" class="create-button">
    CREATE CATEGPRY
</button>

<div class="categories-container">
    <div class="expense-section">
        <h3>Expense</h3>
        <div class="categories">
            <mat-card *ngFor="let category of expenseCategories" (click)="openPopup('update', category._id)">
                <span>{{ category.name }}</span>
                <span class="spacer"></span>
                <span class="count-text">{{ category.numTransactions }} Transaction</span>
                <span *ngIf="category.numTransactions > 1" class="count-text">s</span>
            </mat-card>
        </div>
    </div>

    <div class="income-section">
        <h3>Income</h3>
        <div class="categories">
            <mat-card *ngFor="let category of incomeCategories" (click)="openPopup('update', category._id)">
                <span>{{ category.name }}</span>
                <span class="spacer"></span>
                <span class="count-text">{{ category.numTransactions }} Transaction</span>
                <span *ngIf="category.numTransactions > 1" class="count-text">s</span>
            </mat-card>
        </div>
    </div>
</div>