<button mat-flat-button color="primary" (click)="openPopup('create')" class="create-button">
    CREATE CATEGPRY
</button>

<h3>Expenses</h3>
<div class="categories">
    <mat-card *ngFor="let category of expenseCategories" (click)="openPopup('update', category._id)">
        <p>{{ category.name }}</p>
        <p>{{ category.type }}</p>
    </mat-card>
</div>

<h3>Income</h3>
<div class="categories">
    <mat-card *ngFor="let category of incomeCategories" (click)="openPopup('update', category._id)">
        <p>{{ category.name }}</p>
        <p>{{ category.type }}</p>
    </mat-card>
</div>