.create-button {
    display: block;
    margin: 25px auto;
}

.categories-container {
    display: flex;
    width: 850px;
    margin: 0 auto;
}

.expense-section,
.income-section {
    width: 400px;
    padding: 0 25px;
}

.expense-section {
    border-right: 1px solid black;
}

h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 450;
}

mat-card {
    display: flex;
    margin-bottom: 4px;
}

.count-text {
    color: grey;
}