<div class="title">
    <h1 mat-dialog-title *ngIf="data.mode === 'create'">Create Category</h1>
    <h1 mat-dialog-title *ngIf="data.mode === 'update'">Update Category</h1>
    <span class="spacer"></span>
    <button mat-icon-button mat-dialog-close class="close-button">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="content">
    <form [formGroup]="categoryForm" (submit)="saveCategory()">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-error>Please enter a name</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
                <mat-option value="Expense">Expense</mat-option>
                <mat-option value="Income">Income</mat-option>
            </mat-select>
            <mat-error>Please select a type</mat-error>
        </mat-form-field>

        <button mat-fab color="primary">
            <mat-icon>save</mat-icon>
        </button>
        <button mat-fab color="warn" type="button" *ngIf="data.mode === 'update'" (click)="deleteCategory()">
            <mat-icon>delete</mat-icon>
        </button>
    </form>
</div>